<brubs-page>
    <brubs-accordion>
        <brubs-accordion-item title="Accordion Teste 1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus veniam magnam laborum, temporibus quae quis
            minima voluptatem voluptas nobis doloremque, sed modi iusto libero distinctio sint. Reiciendis officiis
            maiores et.
        </brubs-accordion-item>
        <brubs-accordion-item title="Accordion Teste 2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis minus nobis ducimus rerum, nemo eveniet
            ea. Accusantium incidunt saepe ducimus. Doloremque velit est recusandae nesciunt nemo alias laboriosam
            accusantium consectetur.
            <brubs-simple-button text="Teste"></brubs-simple-button>
        </brubs-accordion-item>
    </brubs-accordion>
</brubs-page>