<nav class="navbar navbar-primary bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand h1" href="home">
            <i class="bi bi-box-seam-fill"></i>
            Brubs Lib
        </a>
    </div>
</nav>

<div class="sidebar-nav">
    <nav class="navbar navbar-dark bg-ligth fixed-top">
        <div class="container">
            <section class="d-flex">
                <button class="btn bg-primary" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="p-2 m-auto navbar-brand h1 text-black" href="home">
                    <i class="bi bi-box-seam-fill"></i>
                    Brubs Lib
                </a>
            </section>

            <div class="offcanvas offcanvas-start shadow" tabindex="-1" id="offcanvasNavbar">
                <div class="offcanvas-body">
                    <brubs-menu-list>
                        <brubs-single-menu title="Home" route="home" [icon]="icon.HOME"></brubs-single-menu>
                        <brubs-single-menu title="Buttons" route="view/buttons"></brubs-single-menu>
                        <brubs-single-menu title="Accordions" route="view/accordions"></brubs-single-menu>
                    </brubs-menu-list>
                </div>
            </div>
        </div>
    </nav>
</div>